body {
    margin: 0;
    background-color: #F5EEDC;
    font-family: Georgia, "Times New Roman", serif;
    color: #3D382F;
    line-height: 1.5;
}

h1{
    text-align: center; 
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 40px;
    color: #3D382F;
}

.tagline{
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: #5B554A;
}

.owner {
    width: 60%;
    margin: 40px auto;
    padding: 25px;
    background-color: #FFF9E8;
    text-align: center;
    border-radius: 10px;
}

H2 {
    text-align: center;
    font-size: 28px;
    color: #6F7655;
    margin-top: 20px;
}

.profile {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.place-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 85%;
    margin: 0 auto;
    align-items: stretch;

}

.place {
    margin-bottom: 40px;
    padding: 30px;
    background-color: #FFF9E8;
    text-align: center;
    border-radius: 10px;
}

h3 {
    margin-top: 0;
    font-size: 28px;
    color: #A85C4A;
}

p {
    text-align: center;
    font-style: italic;
    font-size: 17px;
    color: #4A453D;
}

.place-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin: 15px auto 0;
    display: block;
}

